@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;700&family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav p.logo{
    position: absolute;
    width: 133px;
    height: 25px;
    top: 40px;
    left: 77px;
    text-transform: uppercase;
    font-family: Inconsolata;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: -0.08em;
    text-align: left;
    color: #333333;
}
#main{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.left img{
    width: 540px;
    height: 415px;
    margin-left: 100px;
}
.right{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.right h1{
    width: 586px;
    height: 190px;
    margin-top: 170px;
    margin-right: 40px;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 95px;
    letter-spacing: -0.035em;
    color: #333333;
}

.right p{
    margin-top: 36px;
    width: 381px;
    height: 108px;
    font-family: 'Space Mono';
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: -0.035em;
    text-align: left;
    color: #4F4F4F;
}

.right button{
    margin-top: 64px;
    width: 216px;
    height: 68px;
    text-transform: uppercase;
    color: #ffffff;
    font-family: Space Mono;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: -0.035em;
    text-align: center;
    outline: none;
    background: #333333;
    border: none;
}

footer{
    margin-top: 200px;
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    text-align: center;
    color: #BDBDBD;
}

footer a{
    font-weight: 700;
    color: #BDBDBD;
}

@media screen and (min-width: 700px){
    .left img{
        margin-bottom: -150px;
    }
    .right{
        margin-left: 50px;
    }
    .right h1{
        width: 500px;
    }
}

@media (max-width: 400px){
    .left img{
        margin: 0 30px;
        width: 400px;
        height: 300px;
        margin-bottom: -130px;
    }
    .right{
        margin-left: 30px;
    }
    .right h1{
        width: 400px;
        height: 190px;
        font-style: normal;
        font-weight: 500;
        font-size: 50px;
        line-height: 60px;
    }
    .right p{
        margin-top: -40px;
        width: 350px;
        height: 108px;
        font-size: 20px;
        line-height: 25px;
        text-align: left;
    }
    .right button{   
        margin-top: 10px;
        width: 200px;
        font-size: 14px;
        text-align: center;
    }
}
